<template>
<div class="container">
  <v-form v-model="valid">
    <v-text-field
      v-model="name"
      :rules="nameRules"
      :counter="25"
      label="Name"
      required
    ></v-text-field>
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>
    <v-btn class="loginButton"
          :disabled="!valid"
          @click="submit">
      Login
    </v-btn>
  </v-form>
  </div>
</template>

<script>
export default {
  name: 'login',

  data() {
    return {
      valid: false,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 25 || 'Name must be less than 25 characters'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          'E-mail must be valid'
      ]
    }
  },
  methods: {
    submit() {
      // call api here... ?
    }
  }
}
</script>


<style scoped>

.container {
  max-width: 285px;
  background-color: #212121;
  margin-top: 0px;
  border-radius: 20px;
}

.loginButton {
  margin: 0 auto;
  display: flex;
}
</style>
